{% extends 'base.html' %}

{% block title %} Add Event {% endblock %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

  <link rel="stylesheet" href="{% static 'core/css/add_event.css' %}">

  <div class="event-form-div">
    <form method="post" class="add-event-form" enctype="multipart/form-data">

      {% csrf_token %}

      {{ event_form|crispy }}

      {{ image_formset.management_form }}

      {% for form in image_formset %}
        {{ form|crispy }}
      {% endfor %}

      <button type="submit" class="btn btn-success">Add</button>
      <a href="{% url 'event_list' %}" class="btn btn-danger">Cancel</a>

    </form>
  </div>

{% endblock %}