<nav aria-label="...">
    <ul class="pagination">

        {% if events.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}

        {% for num in events.paginator.page_range %}
            {% if events.number == num %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                </li>

            {% elif num > events.number|add:-3 and num < events.number|add:3 %}
                <li class="page-item"><a class="page-link" href="?page={{num}}">{{ num }}</a></li>
            {% endif %}

        {% endfor %}

<!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--        <li class="page-item active" aria-current="page">-->
<!--            <span class="page-link">2</span>-->
<!--        </li>-->
<!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->


        {% if events.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ events.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ events.paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>